@import "tailwindcss";


body{
    margin-top: 0;
}


.prev{
    background-color:  rgba(0, 0, 255, 0.1) ;
}

#bg-grad{
    background: linear-gradient(
        to top right,
        rgba(255, 255, 0, 0.1) 0%,
        rgba(255, 255, 0, 0.1)  30%,
        rgba(0, 0, 255, 0.1)  30%,
        rgba(0, 0, 255, 0.1) 60%,
        rgba(255, 0, 0, 0.1) 60%,
        rgba(200, 0, 0, 0.1) 90%,
        rgba(0, 128, 0, 0.1) 90%,
        rgba(0, 128, 0, 0.1) 100%
    );
}

@media only screen and (min-width:500px){

form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 3px 3px 3px 5px gray;
    border: 3px;
    border-style: groove;
    border-color: rgb(41, 35, 35);
    border-radius: 10px;
}

form p {
    color: red;
    font-size: 4vw;
    font-weight: 200;
    margin-top: 3px;
    margin-bottom: 5px;
}

input {
    outline: none;
    border: 3px;
    border-style: groove;
    border-color: rgb(41, 35, 35);
    border-radius: 10px;
    font-size: 5vw;
    font-weight: bold;
    color: rgb(32, 34, 36);
    padding-left: 20px;
}

label {
    font-size: 5vw;
    font-weight: bold;
    color: rgb(32, 34, 36);
}
}
@media only screen and (min-width:768px){
    form {
            display: flex;
            flex-direction: column;
            padding: 15px;
            box-shadow: 3px 3px 3px 5px gray;
            border: 3px;
            border-style: groove;
            border-color: rgb(41, 35, 35);
            border-radius: 10px;
        }
    
        form p {
            color: red;
            font-size: 20px;
            font-weight: 200;
            margin-top: 3px;
            margin-bottom: 5px;
        }
    
        input {
            outline: none;
            border: 3px;
            border-style: groove;
            border-color: rgb(41, 35, 35);
            border-radius: 10px;
            font-size: 30px;
            font-weight: bold;
            color: rgb(32, 34, 36);
            padding-left: 20px;
        }
    
        label {
            font-size: 20px;
            font-weight: bold;
            color: rgb(32, 34, 36);   }
}